body{
    font-family:Arial, Helvetica, sans-serif 
}

#main-container{
    margin: 75px 25px 75px 25px;
}

#contenedor-detarjetas{
    display: flex;
    flex-direction: column;
}

.tarjeta{
    border-radius: 6px;
    box-shadow: 10px 6px 62px 2 px color(srgb 0,0,0,0.23);
    margin-bottom: 40px;
    padding: 0 30px 30px 30px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.svg{
    width: 20%;
    align-self: flex-end;
    margin-top: 25px;
}

#text-1, #text-3, .texto-tarjeta{
    color: #a3a5ae;
    font-size: 15px;
}

#text-1{
    font-weight: 200;
    font-size: 1.5rem;
    margin-bottom: -3px;
}

#text-2{
    color: rgba(193, 190, 190, 0.863);
    margin-top: 0;
    margin-bottom: 18px;
}

.texto-tarjeta{
    font-size: 14px;
}

.tarjeta-header{
    color: #4c4e61;
    margin-bottom: -10px;
}

#Titulomayorcontenedor{
    margin: 0 0 70px 0;
    text-align:justify;
}

#tarjeta-verde{
    border-top: 4px solid green;
}

#tarjeta-roja{
    border-top: 4px solid red;
}

#tarjeta-naranja{
    border-top: 4px solid orange;
}

#tarjeta-azul{
    border-top: 4px solid blue;
}

#text-1, #text-2{
    font-size: 1.9rem;
}

@media (min-width: 675px){
    #contenedor-detarjetas{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(4, 120px);
        grid-gap: 20px;
    }

    #tarjeta-verde{
        grid-column: 1/2;
        grid-row: 2/4;
    }

    #tarjeta-roja{
        grid-column: 2/3;
        grid-row: 1/3;
    }

    #tarjeta-naranja{
        grid-column: 2/3;
        grid-row: 3/5;
    }
    #tarjeta-azul{
        grid-column: 3/4;
        grid-row: 2/4;
    }
    .svg{
        position: absolute;
        bottom: 20px;
        width: 25%;
    }
    #main-container{
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 10px;
        padding-right: 10px;
    }
    #body-container{
        display: flex;
    }
}
